name: CI/CD to Cloud Run

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"

    steps:
      # Checkout source code
      - name: Checkout Code
        uses: actions/checkout@v3

      # Authenticate with Google Cloud
      - name: Google Auth
        uses: "google-github-actions/auth@v1"
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      # Set up Cloud SDK
      - name: Set up Cloud SDK
        uses: "google-github-actions/setup-gcloud@v1"
        with:
          project_id: "${{ secrets.GCP_PROJECT_ID }}"

      - name: Authenticate Docker with GCP
        run: gcloud auth configure-docker

      # Deploy Backend
      - name: Build and Push Backend Docker Image
        run: |
          cd backend
          IMAGE_NAME="gcr.io/${{ secrets.GCP_PROJECT_ID }}/backend"
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME


      - name: Deploy Backend to Cloud Run
        run: |
          gcloud run deploy backend \
            --image=gcr.io/${{ secrets.GCP_PROJECT_ID }}/backend \
            --region=${{ secrets.GCP_REGION }} \
            --platform=managed \
            --allow-unauthenticated \
            --port=3000 \
            --set-env-vars JWT_SECRET=${{ secrets.JWT_SECRET }},JWT_REFRESH_SECRET=${{ secrets.JWT_REFRESH_SECRET }},DB_HOST=${{ secrets.DB_HOST }},DB_PORT=${{ secrets.DB_PORT }},DB_USERNAME=${{ secrets.DB_USERNAME }},DB_PASSWORD=${{ secrets.DB_PASSWORD }},DB_NAME=${{ secrets.DB_NAME }}

      # Deploy Frontend
      - name: Build and Push Frontend Docker Image
        run: |
          cd frontend
          IMAGE_NAME="gcr.io/${{ secrets.GCP_PROJECT_ID }}/frontend"
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME

      - name: Deploy Frontend to Cloud Run
        run: |
          gcloud run deploy frontend \
            --image=gcr.io/${{ secrets.GCP_PROJECT_ID }}/frontend \
            --region=${{ secrets.GCP_REGION }} \
            --platform=managed \
            --allow-unauthenticated \
            --set-env-vars \
            --port=80 \
            